name: Build

on:
  push:
    tags:
      - "v*"
  pull_request:

jobs:
  build_wheels:
    name: Build wheels
    runs-on: ubuntu-latest
    environment: pypi

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Build source distribution
      - name: Build sdist
        run: |
          python -m pip install --upgrade build
          python -m build --sdist

      # Build manylinux wheels
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==3.3.1

      - name: Build wheels
        run: python -m cibuildwheel --output-dir dist

      # Upload both wheels + sdist
      - name: Publish to PyPI
        if: startsWith(github.ref, 'refs/tags/')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
